
<router-outlet></router-outlet>
<div  style="background: white;z-index:1035" class="sidenav">
  <!-- <div (click)=toggleMainMenu() class="handbuger"><span></span></div> -->
<a  *ngIf="isBillable()"  href="#"
  [routerLink]="['./']"
  [routerLinkActiveOptions]={exact:true}
  routerLinkActive="router-link-active"
  class="home reviewmenu"
  title="Pending Orders"><span class="homespan">
<i class="icon ion-ios-people-outline homeicon"></i></span>
</a>

<a *ngIf = isPharmacy()   href="#"
  [routerLink]="['./inventory']"
  routerLinkActive="router-link-active"
  class="home reviewmenu"
  title="Inventory">
  <span class="homespan">
      <i  style ='font-size: 26px;position:relative;' class="icon ion-android-apps homeicon"></i>
  </span>
</a>

<a *ngIf = isInfo()   href="#"
  [routerLink]="['./billing']"
  routerLinkActive="router-link-active"
  class="home reviewmenu"
  title="Billings">
  <span class="homespan">
      <i  style ='font-size: 26px;position:relative;' class="icon ion-android-apps homeicon"></i>
  </span>
</a>



<a *ngIf='isAdmin() || isInfo() || isWard() '  href="#"
  [routerLink]="['./']"
  [routerLinkActiveOptions]={exact:true}
  routerLinkActive="router-link-active"
  class="home reviewmenu"
  title="Out Patients">
    <span class="homespan">
        <i class="icon ion-ios-checkmark-outline homeicon"></i>
    </span>
</a>

<a *ngIf='isConsult()'  href="#"
  [routerLink]="['./discharged']"
  [routerLinkActiveOptions]={exact:true}
  routerLinkActive="router-link-active"
  class="home reviewmenu" title="Out Patients">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative; '
        class="icon ion-ios-checkmark-outline homeicon"></i>
    </span>
</a>



<a *ngIf='isConsult()'  href="#"
  [routerLink]="['./']"
  [routerLinkActiveOptions] = {exact:true}
  routerLinkActive="router-link-active"
  class="home patienmenu" title="Consultation">
  <span class="homespan">
      <i class="icon ion-ios-people-outline homeicon"></i>
  </span>
</a>

<a *ngIf='isAdmin() || isInfo() ' href="#"
  [routerLink]="['./consultations']"
  routerLinkActive="router-link-active"
  class="home patienmenu"
  title="Consultation">
  <span class="homespan">
      <i class="icon ion-ios-people-outline homeicon"></i>
  </span>
</a>


<a *ngIf='isAdmin() || isInfo() || isConsult() || isWard()'  href="#"
    [routerLink]="['./addmisions']"
    routerLinkActive="router-link-active"
    class="home wardmenu" title="In Patients">
    <span class="homespan">
      <i class="homeicon wardicon" style ='font-size: 26px; color: rgb(158, 158, 158); position: relative; ' class="icon ion-ios-help-outline fa-2x fa-fw"></i>
    </span>
</a>

<a *ngIf='isAdmin() || isInfo() || isConsult()' href="#"
  [routerLink]="['./appointments']"
  routerLinkActive="router-link-active"
  class="home reviewmenu"
  title="Appointments">
  <span class="homespan">
      <i class="icon ion-ios-calendar-outline homeicon"></i>
  </span>
</a>

<a  *ngIf='isConsult() || isInfo() || isWard() || isAdmin()' href="#"
    [routerLink]="['./deceased']"
    routerLinkActive="router-link-active"
    class="home reviewmenu"
    title="Deceased">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative; '
        class="icon ion-ios-close-outline homeicon"></i>
    </span>
</a>

<a *ngIf = isAdmin()   href="#"
  [routerLink]="['./inventory']"
  routerLinkActive="router-link-active"  class="home reviewmenu" title="Inventory">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-apps homeicon"></i>
    </span>
</a>

<a *ngIf = isAdmin()   href="#"
[routerLink]="['./dashboard']"
routerLinkActive="router-link-active"
class="home reviewmenu"
title="Notifications">
    <span class="homespan">
        <i  style ='position:relative;' class="icon ion-stats-bars homeicon"></i>
    </span>
</a>

<a href="#"
  [routerLink]="['./messages']"
  routerLinkActive="router-link-active"
  class="home" title="Messages">
  <span class="homespan">
    <i style='font-size: 26px;' class="icon ion-ios-chatbubble-outline fa-2x fa-fw"></i>
  </span>
</a>

<a  href="#"
  [routerLink]="['./notifications']"
  routerLinkActive="router-link-active"
  class="home reviewmenu"
  title="Notifications">
    <span class="homespan">
        <i  style ='font-size: 26px;position:relative;' class="icon ion-android-notifications-none homeicon"></i>
    </span>
</a>

<a style='position:absolute; bottom:2px' href="#" *ngIf='admin==="admin"'  [routerLink]="['./settings']" routerLinkActive="router-link-active" class="home settings" title="Settings">
  <span class="homespan">
    <i class="icon ion-ios-gear-outline homeicon"></i>
  </span>
  <!-- <span [ngClass]="{'no-display':!menuOpened}" class="mlabel">Settings</span> -->
</a>

</div>
