.handbuger {
  height: 28px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  margin-top: 9px;
  cursor: pointer;
  top: -2px;
  left: 10px;
}
.handbuger span,
.handbuger span::before,
.handbuger span::after {
  content: "";
  position: relative;
  height: .11em;
  width: 100%;
  background-color: #007bff;
  display: block;
}
.handbuger span::after {
  bottom: 8px;
  width:17px;
}
.handbuger span::before {
  top: 6px;
  width:10px
}

.no-display {
  display: none;
}
