.handbuger {
  height: 28px;
  width: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  margin-top: 9px;
  cursor: pointer;
  top: -2px;
  left: 10px;
}
.handbuger span,
.handbuger span::before,
.handbuger span::after {
  content: "";
  position: relative;
  height: .11em;
  width: 100%;
  background-color: dodgerblue;
  display: block;
}
.handbuger span::after {
  bottom: 8px;
  width:17px;
}
.handbuger span::before {
  top: 6px;
  width:10px
}

.no-display {
  display: none;
}
.homeicon {
  font-size: 26px;
  position:relative;
}
.messanger-card {
  width: 400px;
  height:93vh;
  position: absolute;
  background-color: white;
  left: auto;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-right: 20px;
  box-shadow: 2px 2px 28px -11px #DADADA;
  position: fixed;
  transition: all .3s ease-in-out;
  transform: translateY(90%);
}
.messanger-card.chatOpened {
  transform: translateY(0%);
}
.timeline.lastdoc.priscriber.headerdp.profile-dp {
  left:79px;
}

.patien-name.profile-name {
  text-align:center;
  font-size:14px;
  width:100%;
  padding-left:0px;
}

.timeline.lastdoc.priscriber.headerdp {
  top:36px;
  left:18px;
  height:60px;
  width:60px;
  position:absolute;
}
.contacts-card, .profile-card {
    margin-top:0px;
}
.connections{
    width:48%;
}
.timetaken{
    left: 82px;
}
.connection-btn{
  font-size:11px;
  font-weight:normal;
  width:20px;
  border-radius:999em;
  height:15px;
}
.follow:hover {
    color:dodgerblue;
}
.bio {
  font-size:13px;
  color:lightgrey;
  font-weight:normal;
  text-align:center;
  top:37px;
  position:relative;
  margin:0px;
}
.card-header.grapheader.explore-header {
  height:26px;
  padding:0px;
  position:relative;
}
.explore-search {
  position:absolute;
  padding:0px;
  width:87%;
  height:100%;

  font-size:13px;
  padding-left:25px;

  border:none;

}
.card.card-secondary.historycard.midlecard.chatcard {
  min-height:91%;
  margin:auto;

  position:absolute;
  height:100%;
}
.basic-info {
  cursor:pointer;
}

.profile-card{
  width:200px;
}
.people{
  cursor:pointer
}
.indicator.indicator-online {
  width:8px;
  height:8px;
  top:70%;
}
.profile-info {
  list-style:none;
  font-size: 12px;
  position:relative;
  top: 85px;
  padding: 10px 5px 10px 5px;
  /* border-top :1px solid ghostwhite; */
  width:90%;
  margin:auto;
  color: #d3d7dc;

}
.dp-wrapper{
  width:100%;
  height:100%;
  background:rgba(7, 7, 7,.4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index:10;
  position: absolute;
}
.profile-item{
  width:100%;
  /* background: whitesmoke; */
  position:relative;
}


.staffName {
  white-space: nowrap;
  overflow: hidden;
  left:56px;
  top: 7px;
  font-size: 13px;
  width:100px;
  position: absolute;
  text-overflow: ellipsis;
}
.lastMsg {
  font-size: 14px;
  color: lightgray;
  top: 26px;
  left: 35px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  width:165px;
  text-overflow: ellipsis;
}
#msgLine {
  font-size:13px;
  resize: none;
  height: auto;
  width: 100%;
  padding-left: 17px;
  left:2px;
  margin:auto;
  border:none;
  outline: none;
  text-align: left;
  border-radius:.9999rem;
  background: ghostwhite;
  position: relative;
}
#msgLine:focus {
  background:white;
  border:1px solid dodgerblue;
}
.attachment {
  align-content: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: ghostwhite;
  height: 33px;
  width: 33px;
  position: absolute;
  right: left;
  left: 22px;
  top: 8px;
  cursor: pointer;
}
.attachment i, .attachment.send i {
  font-size: 23px;
  color: dodgerblue;
  left: 6px;
  position: relative;
}
.attachment:hover, .attachment.send:hover {
  background-color: rgba(40, 132, 254,.1);
}
.attachment.send {
  left: 89%;
}
.off {
  display: none;
}
.bottom-line.off {
  display:none;
}
.bottom-line {
  margin-bottom: 0px;
  color: lightgray;
  font-size: 11px;
  position: absolute;
  right: 23px;
  text-align: right;
  margin-top: 3px;
  display: flex;
}
.no-radius {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.bottom-line  i{
  /* left: 91%; */

  top: -18px;
  color:rgb(159, 189, 243);
  font-size:31px;
  position: relative;
}
.notecardbody.chat-body {
  /* overflow: scroll; */
}
#chat-dp {
  left: 10px;
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
    top: 0px;
    background: white;
    margin-right: 2px;
}

.h-title {
  font-size:11px;
  position:absolute;
  color:dodgerblue;
  top:1%;left:78%
}
.top-header {
  padding: 0px 5px 0px 10px;
  height:30px;
  border-bottom:0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.main-header {
  position:absolute;
  height:100vh;
  width:475px;
  margin:auto;
  left:18px;
}
.profile-card {
  width:235px;
  left:30px;
  border-radius:0px;
  height:400px;
  margin:0px;
}
.msg-header {
  height: 60px;
  padding: 15px;
  border-bottom: 1px solid ghostwhite;
  display: flex;
  justify-content: space-between;
}
.msg-footer {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid ghostwhite;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textContainer {
  position:relative;
  height:50px;
  width: 100%;
  border-top: 1px solid whitesmoke;
  padding-left:60px;
  padding-right:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pname {
  margin:0px 0px 0px 3px;
  position:absolute;
  padding-left: 13px;
  top:16px;
  font-size:15px;
  display:inline-block;
}
.chat-dept {
  font-size: 12px;
  font-weight: normal;
  bottom: 5px;
  position: relative;
}
.icons-wrap {
  font-size: 25px;
  position: relative;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.msg-header .media-dp {
  height: 38px;
  width: 38px;
  border-radius: 50%;
}
.msg-header .mgs-media {
  display: flex;
  align-items: center;
  justify-content: start;
  left: 15px;
  position: relative;
}
.media-dp img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.msg-header .mgs-media .media-name {
  font-size: 17px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom:0px;
  font-weight:bold;
}
.back-icon {
  position: absolute;
  font-size: 22px;
  left: 8px;
  top: 11px;
  color: dodgerblue;
  cursor: pointer;
}
.media-name span {
  font-weight: normal;
  font-size: 14px;
}
.chats-icon, .arrow-icon {
  height: 35px;
  width:35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: dodgerblue;
}
.arrow-icon {
  transition: all .3s ease-in-out;
  transform: rotate(180deg);
}
.arrow-icon.arrowup {
    transform: rotate(0deg);
}
.chats-icon:hover, .arrow-icon:hover {
  background-color: rgb(30 144 255 / 10%);
}
.chats-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
  border-bottom: 1px solid ghostwhite;
}
.chats-media:hover {
  background: ghostwhite;
}
.media-box {
  display: flex;
  justify-content: start;
  align-items: center;
}
 .chats-media .media-dp {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
 .chats-media .media-name {
  margin-bottom: 0px;
  font-size: 15px;
  width:100%;
}
.mgs-media h4 {
  font-size: 17px;
  font-weight: bold;
}
 .chats-media .media-name:first-child {
  font-weight: bold;
}
 .chats-media .media-name span {
  position: absolute;
  left: 80%;
  font-weight: normal;font-size: 12px
}
 .chats-media .media-name:last-child {
  color: lightgray;
}
.date-time {
  font-weight:normal;
}
.chat-people-wrap {
  width: 100%;
  position: relative;
  margin-top: 10px;
}




