

        .refresh:hover {

        /* border:1px solid rgb(255, 255, 255); */
          background-color: white;

        }
      .refresh {
          color: lightgrey;
          position: absolute;
          font-size: 30px;
          background: inherit;
          cursor: pointer;
          text-align: center;
          top:16%;
          left:40%;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
        }
        .refresh i {
          position: absolute;
          left: 11px;
        }
        .issue {
          width:200px;
          height:100px;
          position:relative;
          margin:auto;
          top: 200px;

        }
        .expired {
          text-decoration:none;
          /* text-decoration: line-through red;
          text-decoration-color: red; */
          color: red;
        }
        #menu-hilighter{
          background:white;
        }
        #menu-hilighter:hover {
          background:rgb(248,247,247);
        }

