.timeline.lastdoc.priscriber.headerdp.profile-dp {
  left:79px;
}

.patien-name.profile-name {
  text-align:center;
  font-size:14px;
  width:100%;
  padding-left:0px;
}

.timeline.lastdoc.priscriber.headerdp {
  top:36px;
  left:18px;
  height:60px;
  width:60px;
  position:absolute;
}
.contacts-card, .profile-card{
    margin-top:0px;
}
.connections{
    width:48%;
}
.timetaken{
    left:82px;
}
.connection-btn{
  font-size:11px;
  font-weight:normal;
  width:20px;
  /* border-radius:999em; */
  border-radius:999em;
  /* padding-top:2px; */
  /* padding-bottom:2px; */
  height:15px;

}
.follow:hover {
    color:dodgerblue;
}
.bio {
  font-size:13px;
  color:lightgrey;
  font-weight:normal;
  text-align:center;
  top:37px;
  position:relative;
  margin:0px;
}
.card-header.grapheader.explore-header {
  height:26px;
  padding:0px;
  position:relative;
}
.explore-search {
  position:absolute;
  padding:0px;
  width:87%;
  height:100%;

  font-size:13px;
  padding-left:25px;

  border:none;

}
.card.card-secondary.historycard.midlecard.chatcard {
  min-height:91%;
  margin:auto;

  position:absolute;
  height:100%;
}
.basic-info {
  cursor:pointer;
}

.profile-card{
  width:200px;
}
.people{
  cursor:pointer
}
.indicator.indicator-online {
  width:8px;
  height:8px;
  top:70%;
}
.profile-info {
  list-style:none;
  font-size: 12px;
  position:relative;
  top: 85px;
  padding: 10px 5px 10px 5px;
  /* border-top :1px solid ghostwhite; */
  width:90%;
  margin:auto;
  color: #d3d7dc;

}
.dp-wrapper{
  width:100%;
  height:100%;
  background:rgba(7, 7, 7,.4);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index:10;
  position: absolute;
}
.profile-item{
  width:100%;
  /* background: whitesmoke; */
  position:relative;
}

.textContainer {
  position:relative;
  height:50px;
  width: 100%;
  border-top: 1px solid whitesmoke;
  padding-left:60px;
  padding-right:60px;
}
.staffName {
  white-space: nowrap;
  overflow: hidden;
  left:56px;
  top: 7px;
  font-size: 13px;
  width:100px;
  position: absolute;
  text-overflow: ellipsis;
}
.lastMsg {
  font-size: 14px;
  color: lightgray;
  top: 26px;
  left: 35px;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  width:165px;
  text-overflow: ellipsis;
}
#msgLine {
  font-size:13px;
  resize: none;
  height: 28px;
  width: 100%;
  left:2px;
  margin:auto;
  top:7px;
  border:none;
  outline: none;
  overflow:hidden;
  margin-top:3px;
  text-align: left;
  border-radius:.9999rem;
  background: ghostwhite;
  position: relative;
}
#msgLine:focus {
  background:white;
  border:1px solid dodgerblue;
}
.attachment {
  align-content: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: ghostwhite;
  height: 33px;
  width: 33px;
  position: absolute;
  right: left;
  left: 22px;
  top: 8px;
  cursor: pointer;
}
.attachment i, .attachment.send i {
  font-size: 23px;
  color: dodgerblue;
  left: 6px;
  position: relative;
}
.attachment:hover, .attachment.send:hover {
  background-color: rgba(40, 132, 254,.1);
}
.attachment.send {
  left: 89%;
}
.off {
  display: none;
}
.bottom-line.off {
  display:none;
}
.bottom-line {
  margin-bottom: 0px;
  color: lightgray;
  font-size: 11px;
  position: absolute;
  right: 23px;
  text-align: right;
  margin-top: 3px;
  display: flex;
}
.no-radius {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.bottom-line  i{
  /* left: 91%; */

  top: -18px;
  color:rgb(159, 189, 243);
  font-size:31px;
  position: relative;
}
.notecardbody.chat-body {
  /* overflow: scroll; */
}
#chat-dp {
  left:10px;
  height:27px;
  width:27px;
  position:relative;
  display:inline-block;
  margin-bottom:0px;
  top:-1px;
  background:white;
  margin-right: 2px;
}
.pname {
  margin:0px 0px 0px 3px;
  position:absolute;
  padding-left:13px;
  top:3px;
  display:inline-block;
}
.h-title {
  font-size:11px;
  position:absolute;
  color:dodgerblue;
  top:1%;left:78%
}
.top-header {
  padding: 0px 5px 0px 10px;
  height:30px;
  border-bottom:0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.main-header {
  position:absolute;
  height:100vh;
  width:475px;
  margin:auto;
  left:18px;
}
.profile-card {
  width:235px;
  left:30px;
  border-radius:0px;
  height:400px;
  margin:0px;
}
