
    <div style="padding-top:0px; height:100vh" class="container history-container">
      <div class="row history-row" style = 'height:100%'>
          <div  class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
              <div class="card-colums leftcolumn">
                  <div   class="card card-secondary historycard leftcard" style = 'height:100vh;width:235px;left:13px;margin:0px;position: relative;'>
                      <div  class='card-header grapheader' style='border-bottom:0px;border-top-right-radius: 0px;
                      border-top-left-radius: 0px;'>
                          <h1  class="dept headtitle">MESSAGES
                            <span (click)="back('front')" class="backIcon"></span>
                          </h1>
                      </div>
                    <div style="height: 100%;" data-simplebar class="card-body onlinesbody">
                      <h1 *ngIf="!getContacts().length" style='color:lightgrey; width:100%; text-align:center;top:43%;position:absolute;' class="dept headtitle">NO CONTACTS</h1>
                      <div (click) = selectPerson(person) *ngFor="let person of getContacts(); let i=index" class="carditem people">
                          <div class="card-header profileheader person">
                              <div class="timeline lastdoc priscriber headerdp small-dp user-dp"style="left:5%;position:absolute;height:37px;width:37px;top:20%;">
                                  <img [src] = getDp(person.info.personal.avatar)/>
                              <!-- <div *ngIf = 'person.info.online' class="indicator indicator-online"></div> -->
                          </div>
                          <p class="dept personname staffName">  {{person.info.personal.firstName+' '+person.info.personal.lastName}}&nbsp;</p>
                          <p style='left:68%;width:73px;font-size: 11px;top:10px' class="timetaken chattime">{{getLastChatTime(person)|date:'MMM d, y'}}</p>
                          <p class="dept latestmsg lastMsg">{{getLastMessage(person)}}</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="card-colums">
              <div class="card card-secondary historycard midlecard graphcard main-header">
                <div class="card-header grapheader top-header">
                  <div *ngIf = curPerson._id>
                      <div id="chat-dp"
                      class="timeline lastdoc priscriber headerdp small-dp">
                        <img [src] = getDp(curPerson.info.personal.avatar)/>
                      </div>
                      <p class="patien-name small-name pname">
                        {{curPerson.info.personal.firstName +' '+curPerson.info.personal.lastName}}<span class="small-headericon"></span>
                      </p>
                        <h1 class="patien-name small-name h-title">CHATS</h1>
                  </div>
                  </div>
                  <div #chatBody data-simplebar (scrolled) = indicate($event) id="chat-body"
                  style=' margin-left: 0px; border-left: 0px;height: 100%;'
                  class="card-body notecardbody chat-body">
                    <div *ngIf= curPerson._id class="conversation-container">
                        <div *ngFor="let chats of getCurrentChats(); let i = index"
                        class="message"
                        [ngClass]="getMsgClass(i)">
                            <div *ngFor="let msg of chats; let first = first; let last = last" class="message-container">
                                <div [ngClass]="{'off':isSender(i)}" class="message-avatar">
                                    <a href="#" class="profile-link"></a>
                                    <div class="msg-avatar">
                                        <span class="avatar-container">
                                          <img [src] = getMsgDp(msg.sender)
                                          [ngClass]="{'invisible':!last}" class=" msg-image"/>
                                        </span>
                                    </div>
                                </div>
                                <div class="message-msg" >
                                    <div class="msg-contentContainer">
                                        <div class="msg-text">
                                            <div class="msg-container">
                                                <p class="msg-msg msg-size">{{msg.message}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div [class.off]= !last [ngStyle]=timeStyler(i)  class="bottom-line">
                                      <p>{{msg.sendOn|date:'MMM d, y hh:mma'}}</p>
                                      <p><i [ngClass]="{'off':!isSender(i)}" class="icon ion-ios-checkmark-empty fa-2x fa-fw"></i></p>
                                    </div>
                                </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class='textContainer'>
                  <div title="Attach" class="attachment">
                    <i style="left:11px;position:relative"  class="icon ion-ios-plus-empty fa-2x fa-fw"></i>
                  </div>
                  <textarea
                    [(ngModel)] ="message"
                    (keypress)="check($event)"
                    placeholder ='Start a new message'
                    id="msgLine"
                    name="chat"
                    class="patientdata dystolic inputs dataInfo">
                  </textarea>
                  <div class="attachment send">
                    <i title="Send" style="left:9px;position:relative;font-size: 21px;" class="icon ion-android-send fa-2x fa-fw"></i>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div  class="col col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
          <div class="card-colums rightcolumn" style="height: 100%;">
              <div *ngIf = "rightCard === 'profile'" style="height: 60%;width:235px;left: 25px;"
                class="card card-secondary historycard rightcard allegies profile-card">
                <div class="card-header profileheader" >
                  <i (click)=toggleMenu() class="icon ion-android-more-vertical headericon moreicon actions-icon">
                  </i>
                  <div (mouseleave)= toggleMenu() *ngIf=showMenu class="menu">
                      <ul class="actions primary">
                          <li (click)="switchToEdit('edit')" class="action">Edit profile</li>
                          <li class="action">Settings</li>
                      </ul>
                  </div>
                  <div style="height:90px;width:90px;left:69px" class="timeline lastdoc priscriber headerdp profile-dp">
                      <img [src] = getDp(person.info.personal.avatar)/>
                  </div>
                  </div>
                  <a style="top: 73px;" href="#" class="patien-name profile-name">
                    {{person.info.personal.firstName+' '+person.info.personal.lastName}}</a>
                  <h6 style="top: 75px;" class="bio">{{person.info.official.department}}</h6>
                  <div class="card-body rightcardbody">
                    <ul class="profile-info">
                        <li class="profile-item">
                            <span style='font-size:17px; top:2px;position:relative;  color: rgb(114, 114, 114);'><i class='icon ion-ios-home'></i></span>
                          {{person.info.official.department}}
                          </li>
                      <li class="profile-item">
                        <span style='font-size:18px;top:3px; position:relative;color: rgb(114, 114, 114);'>
                          <i class='icon ion-ios-person-outline'></i>
                        </span>
                        Born 11 Febuary, 1989
                      </li>
                      <li class="profile-item">
                        <span style=' font-size:18px; top:3px;position:relative;color: rgb(114, 114, 114);'>
                          <i class='icon ion-android-calendar'></i>
                        </span>
                        Signed 22 Dec.
                      </li>
                    </ul>
                  </div>
                </div>
              <div style="height: 39%;margin-top:1px;width:235px;left: 25px;" class="card card-secondary historycard rightcard allegies profile-card">
                 <h6 style="top: 75px;" class="bio">NO ATTACHMENTS</h6>
                  <div class="card-body rightcardbody">

                  </div>
              </div>
           </div>
          </div>
      </div>
    </div>
