.reginfo{
  font-size:10px;
}
.leftinput {
  margin-right:2px;
}
.saverecord{
  width: 150px;
}
.infoicon {
  font-size:21px;
  bottom:3px;
}

.image-link {
  height:100%;
  position:relative;
  display:block;
}


.card.scan-thumnail {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 0px;
  border-color:white;
  margin-right:3px;
  margin-left:0px;
  border-collapse:collapse;
  position: relative;
  margin-bottom: 10px;
  border-bottom:1px solid whitesmoke;
}

/* .dp-wrapper{
  background-color: rgb(240, 163, 163);
  width:80px;
  height:80px;
  margin-bottom: 10px;
  z-index: 10;
  background: url(../../../assets/img/avartar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
} */
.dp-wrapper div{
  width:100%;
  height:100%;
  background:rgba(7, 7, 7,.4);
  /* opacity: .4; */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
.imageicon{
color:white;
font-size:30px;
align-self: center;
position:absolute;
left: 15%;
top:12%;
}
.cover p{
  color:white;
  font-size: 11px;
  width: 100%;
  text-align:center;
  top: 65%;
  position: relative;
  font-weight: bold;

}


.off {
  left: -100%;
 }
.on {
  left: 0%;
  animation-name: card-in;
  animation-duration: .2s;
  animation-timing-function: ease-in;
}
@keyframes card-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}
.disposition button:nth-child(1) {
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.disposition button:nth-child(2) {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.age {
  position: relative;
  bottom:0.1%;
  font-size: 12px;
  color:lightgrey;
  font-weight: normal;
  /* left: 70%; */
}
.searched-name {
  font-weight:600;
  width:140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 2px;
  margin-left: 4px;
  top: -33px;
  font-size: 13px;
  left: 10px;
}
