.home.homemenu {
  /* top:-38%; */
}

.home.homemenu {
  /* top:1.5%; */
}

/* .home:focus {
  border-right:1px solid rgb(2,209,184);
  background:rgb(249,250,251);
} */

a {
  background-color:transparent;
}

a:active, a:hover {
  outline:0;
}

.sidenav {
  height:100vh;
  width:38px;
  background:#f9fafb;
  z-index:5;
  position:fixed;
  top:0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mlabel {
  font-size: 14px;
  position: relative;
  left: 21px;
  bottom: 4px;
  color: gray;
  text-decoration: none;
}

.home:hover {
  text-decoration: none;
  color: inherit;
}

.sidenav.closed {
  width: 38px;
  animation-duration: .1s;
  animation-timing-function: ease-in;
  animation-name: slide-close;
}
.sidenav.opened {
  width: 250px;
  animation-duration: .1s;
  animation-timing-function: ease-in;
  animation-name: slide-open;
}
@keyframes slide-open {
  0% {
      width: 38px;
  }
  100% {
    width: 250px;
  }
}
@keyframes slide-close {
  0% {
      width: 250px;
  }
  100% {
    width: 38px;
  }
}

.home {
  width:100%;
  position:relative;
  height:6%;
  text-decoration: none;
  color: lightgrey;
  margin-bottom: 4px;
}

.homespan {
  margin:auto;
  left:9px;
  position:relative;
  text-decoration: none;
}

.homeicon {
  font-size:x-large;
  color:#b1adad;
  text-align:center;
  margin:auto;
}


.home:hover {
  /* border-right:2px solid #0798f1; */
  background: whitesmoke;

}


.router-link-active {
  background: whitesmoke;
}




.home.settings {
  /* top:94%; */
  border-radius:50%;
}

