
<div class="modal " role="dialog" tabindex="-1" id="productModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px;height:100%;">
                    <div class="card card-secondary historycard midlecard profilecard">
                        <div class="card-header profileheader small-header">
                            <h6  class="patien-name small-name add">ADD PRODUCTS<span>
                              <i (click)='clearTemVariables()'  title="Close" class="icon ion-android-close" data-dismiss ='modal' style="font-size: 17px;"></i>
                            </span>
                            </h6>
                        </div>
                        <div *ngIf= "actionMode==='add'&&tableView==='Products'"  class="card-body orderbody" style="width:85%;margin:auto;">
                            <form id = product-form class=" staffsform ">
                              <div class="group-wrap">
                                <div  class="form-group">
                                    <label style='font-size:8px' for="drug" class="labelss">PRODUCT</label>
                                    <input (change)=clearFeedback(0) autocomplete="off"
                                      (keyup) = searchSuggestion()
                                      [(ngModel)]=stock.stockItem.name
                                      name="drug"
                                      placeholder="E.g Augmentine"
                                      class="form-control input" />
                                    <div [class.invalid] = !stocksForm[0] class = 'valid-maker'></div>
                                    <div style="top: 30px;" *ngIf="matches.length"  class="options prisOption edit suggetions-wrap">
                                        <ul data-simplebar class="itemsList sugestion-list" >
                                            <li *ngFor="let match of matches">
                                                <p (click)=selectSuggestion(match) class="drugItem">{{match}}</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <label for="freq" class="labelss complain">CATEGORY</label>
                                  <select (change)=clearFeedback(1) [(ngModel)]="stock.stockInfo.category"
                                  style="border-left:1px solid ghoshwhite" id=select
                                  class="form-control input" name="freq">
                                      <option>Medication</option>
                                      <option>Object</option>
                                      <option>Others</option>
                                  </select>
                                  <div [class.invalid] = !stocksForm[1] class = 'valid-maker'></div>
                              </div>
                          </div>
                          <div class="group-wrap">
                               <div class="form-group">
                                <div style="margin-bottom:0px" class="form-group">
                                  <label style='font-size:8px' for="dos" class="labelss complain">SIZE</label>
                                  <input
                                    style="border-top-right-radius: 0px;
                                    border-bottom-right-radius: 0px;
                                    border-right:1px solid ghostwhite;"
                                    (change)=clearFeedback(2)
                                    [(ngModel)]="stock.stockItem.size"
                                    type="number" name="size"
                                    class="form-control input">
                                    <div [class.invalid] = !stocksForm[2] class = 'valid-maker'></div>
                                </div>
                                <div style="margin-bottom:0px" class="form-group" >
                                  <label style='font-size:8px' for="price" class="labelss complain">UNIT</label>
                                  <select style="
                                    border-top-left-radius: 0px;
                                    border-bottom-left-radius: 0px;
                                    border-left:1px solid ghostwhite;"
                                   (change)=clearFeedback(3)  [(ngModel)]="stock.stockItem.unit"
                                  id=select
                                  class="form-control input" name="unit">
                                      <option>g</option>
                                      <option>mg</option>
                                      <option>ug</option>
                                      <option>l</option>
                                      <option>m</option>
                                      <option>cm</option>
                                      <option>ml</option>
                                      <option>"</option>
                                      <option>%</option>
                                  </select>
                                  <div [class.invalid] = !stocksForm[3] class = 'valid-maker'></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="margin-bottom:0px" class="form-group">
                                    <label style='font-size:8px' for="dos" class="labelss complain">PRICE</label>
                                    <input (change)=clearFeedback(4) [(ngModel)]="stock.stockInfo.price"
                                      type="number" name="quantity" class="form-control input"
                                      style="border-top-right-radius: 0px;
                                        border-bottom-right-radius: 0px;
                                        border-right:1px solid ghostwhite;"
                                      >
                                      <div [class.invalid] = !stocksForm[4] class = 'valid-maker'></div>
                                </div>
                                <div style="margin-bottom:0px" class="form-group" >
                                    <label style='font-size:8px' for="price" class="labelss complain">QUANTITY</label>
                                    <input (change)=clearFeedback(5)  type="number"
                                    [(ngModel)]="stock.stockInfo.quantity"
                                    class="form-control input" name="price"
                                    style="
                                    border-top-left-radius: 0px;
                                    border-bottom-left-radius: 0px;
                                    border-left:1px solid ghostwhite;
                                    ">
                                    <div [class.invalid] = !stocksForm[5] class = 'valid-maker'></div>
                                </div>
                            </div>
                          </div>
                          <div style="width:99.2%" class="form-group submit-group">
                              <label style="font-size:8px" for="request" class="labelss">EXPIRY</label>
                              <input name='request'
                               type="date"
                              [(ngModel)]="stock.stockInfo.expiry"
                              autocomplete="off" class="form-control input"
                              style="
                              border-top-right-radius: 0px;
                              border-bottom-right-radius: 0px;
                              border-right:0px;" >
                              <button style='outline:none;box-shadow:none' class="btn btn-outline-primary">
                                  <i title="Add Stock" (click) = addMoreStock() class="icon ion-ios-plus-empty arrow "></i>
                              </button>
                          </div>
                      </form>
                      <p *ngIf = fieldMissing class="invalid-msg">{{errLine}}</p>
                      <div class="small-table-wrap">
                        <table *ngIf="temStocks.length" cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                            <thead class='productHead'>
                                <tr class="staff-th">
                                    <th style="padding-left:4px;" class="headlbl staff-th">PRODUCT</th>
                                    <th class="headlbl staff-th">PRICE</th>
                                    <th class="headlbl staff-th">QTY</th>
                                    <th style='text-align:right' class="headlbl staff-th">EXPIRY</th>
                                    <th class="headlbl"></th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let stock of temStocks; let i = index; let odd = odd;" style="border-bottom:2px solid white;" [class.even]=odd class="ro staff-row">
                                  <td style="padding-left:4px;" class="data prod-data">
                                      {{stock.stockItem.name+' '+stock.stockItem.size+stock.stockItem.unit}}<span class="predata"></span></td>
                                  <td class="data prod-data">{{stock.stockInfo.price}}</td>
                                  <td class="data prod-data">{{stock.stockInfo.quantity}}</td>
                                  <td class="data close-td">{{stock.stockInfo.expiry||'---'}}
                                    <span>
                                      <div (click)=removeStock(i) class="close-comment remove-item">
                                        <i title="close" class="icon ion-ios-close-empty"></i>
                                      </div>
                                    </span>
                                  </td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf = temStocks.length class="btn-group disposition btn-wraper">
                      <button id=add-stock-btn (click)=updateStocks()
                      class="btn btn-sm btn-outline-primary mainbtn">
                         <div *ngIf="processing" class='spinner small'></div>
                          <span *ngIf="!processing" >ADD STOCKS</span>
                      </button>
                    </div>
                  </div>


                  <!-- EDIT PRODUCT FORM -->


                  <div *ngIf= "actionMode==='edit'&&tableView==='Products'" class="card-body orderbody" style="width:85%;margin:auto;">
                    <form id = product-form class=" staffsform ">
                      <div class="group-wrap">
                        <div  class="form-group">
                            <label style='font-size:8px' for="drug" class="labelss">PRODUCT</label>
                            <input (change)=clearFeedback(0) autocomplete="off"
                              (keyup) = searchSuggestion()
                              [(ngModel)]=stock.stockItem.name
                              name="drug"
                              placeholder="E.g Augmentine"
                              class="form-control input" />
                            <div [class.invalid] = !stocksForm[0] class = 'valid-maker'></div>
                            <div style="top: 30px;" *ngIf="matches.length"  class="options prisOption edit suggetions-wrap">
                                <ul data-simplebar class="itemsList sugestion-list" >
                                    <li *ngFor="let match of matches">
                                        <p (click)=selectSuggestion(match) class="drugItem">{{match}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                          <label for="freq" class="labelss complain">CATEGORY</label>
                          <select (change)=clearFeedback(1) [(ngModel)]="stock.stockInfo.category"
                          style="border-left:1px solid ghoshwhite" id=select
                          class="form-control input" name="freq">
                              <option>Medication</option>
                              <option>Object</option>
                              <option>Others</option>
                          </select>
                          <div [class.invalid] = !stocksForm[1] class = 'valid-maker'></div>
                        </div>
                      </div>
                      <div class="group-wrap">
                          <div class="form-group">
                            <div style="margin-bottom:0px" class="form-group">
                              <label style='font-size:8px' for="dos" class="labelss complain">SIZE</label>
                              <input
                                style="border-top-right-radius: 0px;
                                border-bottom-right-radius: 0px;
                                border-right:1px solid ghostwhite;"
                                (change)=clearFeedback(2)
                                [(ngModel)]="stock.stockItem.size"
                                type="number" name="size"
                                class="form-control input">
                                <div [class.invalid] = !stocksForm[2] class = 'valid-maker'></div>
                            </div>
                            <div style="margin-bottom:0px" class="form-group" >
                              <label style='font-size:8px' for="price" class="labelss complain">UNIT</label>
                              <select style="
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px;
                                border-left:1px solid ghostwhite;"
                              (change)=clearFeedback(3)  [(ngModel)]="stock.stockItem.unit"
                              id=select
                              class="form-control input" name="unit">
                                  <option>g</option>
                                  <option>mg</option>
                                  <option>ug</option>
                                  <option>l</option>
                                  <option>m</option>
                                  <option>cm</option>
                                  <option>ml</option>
                                  <option>"</option>
                                  <option>%</option>
                              </select>
                              <div [class.invalid] = !stocksForm[3] class = 'valid-maker'></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="margin-bottom:0px" class="form-group">
                                <label style='font-size:8px' for="dos" class="labelss complain">PRICE</label>
                                <input (change)=clearFeedback(4) [(ngModel)]="stock.stockInfo.price"
                                  type="number" name="quantity" class="form-control input"
                                  style="border-top-right-radius: 0px;
                                    border-bottom-right-radius: 0px;
                                    border-right:1px solid ghostwhite;"
                                  >
                                  <div [class.invalid] = !stocksForm[4] class = 'valid-maker'></div>
                            </div>
                            <div style="margin-bottom:0px" class="form-group" >
                                <label style='font-size:8px' for="price" class="labelss complain">QUANTITY</label>
                                <input (change)=clearFeedback(5)  type="number"
                                [(ngModel)]="stock.stockInfo.quantity"
                                class="form-control input" name="price"
                                style="
                                border-top-left-radius: 0px;
                                border-bottom-left-radius: 0px;
                                border-left:1px solid ghostwhite;
                                ">
                                <div [class.invalid] = !stocksForm[5] class = 'valid-maker'></div>
                            </div>
                        </div>
                      </div>
                      <div style="width:99.2%" class="form-group">
                          <label style="font-size:8px" for="request" class="labelss">EXPIRY</label>
                          <input name='request'
                          type="date"
                          [(ngModel)]="stock.stockInfo.expiry"
                          autocomplete="off" class="form-control input"
                        >
                      </div>
                      <div class="form-group couter">
                          <button [class.invisible] = !edited.length (click) = prev() class="btn btn-outline-primary shifter-btn">
                            <i title="Back" class="icon ion-android-arrow-back"></i>
                          </button>
                          <p class="count">{{edited.length}}<span>/</span><span>{{count}}</span></p>
                          <button [class.invisible] = !stock.stockItem.name (click)=next()  class="btn btn-outline-primary shifter-btn">
                            <i title="Next" class="icon ion-android-arrow-forward"></i>
                          </button>
                      </div>
                  </form>
                  <p *ngIf = fieldMissing class="invalid-msg">{{errLine}}</p>
                  <div class="small-table-wrap">
                    <table *ngIf="edited.length" cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                        <thead class='productHead'>
                            <tr class="staff-th">
                                <th style="padding-left:4px;" class="headlbl staff-th">PRODUCT</th>
                                <th class="headlbl staff-th">PRICE</th>
                                <th class="headlbl staff-th">QTY</th>
                                <th class="headlbl last-th">EXPIRY</th>
                                <th class="headlbl"></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let stock of edited; let i = index; let odd = odd;" style="border-bottom:2px solid white;" [class.even]=odd class="ro staff-row">
                              <td style="padding-left:4px;" class="data prod-data">
                                  {{stock.stockItem.name+' '+stock.stockItem.size+stock.stockItem.unit}}<span class="predata"></span></td>
                              <td class="data prod-data">{{stock.stockInfo.price}}</td>
                              <td class="data prod-data">{{stock.stockInfo.quantity}}</td>
                              <td class="data close-td">{{stock.stockInfo.expiry||'---'}}
                                <span>
                                  <div (click)=removeStock(i) class="close-comment remove-item">
                                    <i title="close" class="icon ion-ios-close-empty"></i>
                                  </div>
                                </span>
                              </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="edited.length" class="btn-group disposition btn-wraper">
                  <button [disabled] =  !edited.length id=add-stock-btn (click)="updateStocks()"
                  class="btn btn-sm btn-outline-primary  mainbtn ">
                    <div *ngIf="processing" class='spinner small'></div>
                      <span *ngIf="!processing" >UPDATE STOCKS</span>
                  </button>
                </div>
              </div>




              <!-- ADD SERVICE FORM -->

              <div *ngIf= "actionMode==='add'&&tableView==='Services'" class="card-body orderbody" style="width:85%;margin:auto;">
                <form id = product-form class=" staffsform ">
                  <div style="width:99.2%" class="form-group">
                    <label style="font-size:8px" for="name" class="labelss">SERVICE NAME</label>
                    <input name='name'
                    (keyup) = searchSuggestion()
                    [(ngModel)]="stock.stockItem.name"
                    autocomplete="off" class="form-control input"
                  >
                  <div style="top: 30px;" *ngIf="matches.length"  class="options prisOption edit suggetions-wrap">
                    <ul data-simplebar class="itemsList sugestion-list" >
                        <li *ngFor="let match of matches">
                            <p (click)=selectSuggestion(match) class="drugItem">{{match}}</p>
                        </li>
                    </ul>
                </div>
                </div>
                  <div class="group-wrap">
                    <div class="form-group">
                      <label for="freq" class="labelss complain">CATEGORY</label>
                      <select (change)=clearFeedback(1) [(ngModel)]="stock.stockInfo.category"
                      style="border-left:1px solid ghoshwhite" id=select
                      class="form-control input" name="freq">
                          <option>Scan</option>
                          <option>Test</option>
                          <option>Surgery</option>
                          <option>Consultation</option>
                          <option>Others</option>
                      </select>
                      <div class = 'valid-maker'></div>
                    </div>
                    <div  class="form-group submit-group">
                        <label style='font-size:8px' for="drug" class="labelss">PRICE</label>
                        <input (change)=clearFeedback(0) autocomplete="off"
                          type="number"
                          [(ngModel)]=stock.stockInfo.price
                          name="price"
                          class="form-control input"
                          style="
                              border-top-right-radius: 0px;
                              border-bottom-right-radius: 0px;
                              border-right:0px;" />
                        <button style='outline:none;box-shadow:none' class="btn btn-outline-primary">
                          <i title="Add Stock" (click) = addMoreStock() class="icon ion-ios-plus-empty arrow "></i>
                        </button>
                        <div  class = 'valid-maker'></div>
                    </div>
                  </div>
              </form>
              <p *ngIf = fieldMissing class="invalid-msg">{{errLine}}</p>
              <div class="small-table-wrap">
                <table *ngIf="temStocks.length" cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                    <thead class='productHead'>
                        <tr class="staff-th">
                            <th style="padding-left:4px;" class="headlbl staff-th ">SERVICE</th>
                            <th class="headlbl staff-th">CATEGORY</th>
                            <th class="headlbl last-th">PRICE</th>
                            <th class="headlbl"></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stock of temStocks; let i = index; let odd = odd;" style="border-bottom:2px solid white;" [class.even]=odd class="ro staff-row">
                          <td style="padding-left:4px;" class="data prod-data">
                              {{stock.stockItem.name}}<span class="predata"></span></td>
                          <td class="data prod-data">{{stock.stockInfo.category}}</td>
                          <td class="data close-td">{{stock.stockInfo.price}}
                            <span>
                              <div (click)=removeStock(i) class="close-comment remove-item">
                                <i title="close" class="icon ion-ios-close-empty"></i>
                            </div>
                            </span>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="temStocks.length" class="btn-group disposition btn-wraper">
              <button  id=add-stock-btn (click)="updateStocks()"
              class="btn btn-sm btn-outline-primary  mainbtn ">
                <div *ngIf="processing" class='spinner small'></div>
                  <span *ngIf="!processing" >ADD SERVICES</span>
              </button>
            </div>
          </div>


          <!-- EDIT SERVICE FORM -->

          <div *ngIf= "actionMode==='edit'&&tableView==='Services'" class="card-body orderbody" style="width:85%;margin:auto;">
              <form id = product-form class=" staffsform ">
                <div style="width:99.2%" class="form-group">
                  <label style="font-size:8px" for="name" class="labelss">SERVICE NAME</label>
                  <input name='name'
                  (keyup) = searchSuggestion()
                  [(ngModel)]="stock.stockItem.name"
                  autocomplete="off" class="form-control input"
                >
                <div style="top: 30px;" *ngIf="matches.length"  class="options prisOption edit suggetions-wrap">
                  <ul data-simplebar class="itemsList sugestion-list" >
                      <li *ngFor="let match of matches">
                          <p (click)=selectSuggestion(match) class="drugItem">{{match}}</p>
                      </li>
                  </ul>
                </div>
              </div>
              <div class="group-wrap">
                <div class="form-group">
                  <label for="freq" class="labelss complain">CATEGORY</label>
                  <select (change)=clearFeedback(1) [(ngModel)]="stock.stockInfo.category"
                  style="border-left:1px solid ghoshwhite" id=select
                  class="form-control input" name="freq">
                      <option>Scan</option>
                      <option>Test</option>
                      <option>Surgery</option>
                      <option>Consultation</option>
                      <option>Others</option>
                  </select>
                  <div class = 'valid-maker'></div>
                </div>
                <div  class="form-group ">
                    <label style='font-size:8px' for="drug" class="labelss">PRICE</label>
                    <input (change)=clearFeedback(0) autocomplete="off"
                      type="number"
                      [(ngModel)]=stock.stockInfo.price
                      name="price"
                      class="form-control input"
                      />
                    <div  class = 'valid-maker'></div>
                </div>
              </div>
              <div class="form-group couter">
                <button [class.invisible] = !edited.length (click) = prev() class="btn btn-outline-primary shifter-btn">
                  <i title="Back" class="icon ion-android-arrow-back"></i>
                </button>
                <p class="count">{{edited.length}}<span>/</span><span>{{count}}</span></p>
                <button [class.invisible] = !stock.stockItem.name (click)=next()  class="btn btn-outline-primary shifter-btn">
                  <i title="Next" class="icon ion-android-arrow-forward"></i>
                </button>
              </div>
            </form>
              <p *ngIf = fieldMissing class="invalid-msg">{{errLine}}</p>
              <div class="small-table-wrap">
                <table *ngIf="edited.length" cellspacing="0" class="data-table drugs-table" style="width:100%;left:0%;" summary="List of all items in store. ">
                    <thead class='productHead'>
                        <tr class="staff-th">
                            <th style="padding-left:4px;" class="headlbl staff-th ">SERVICE</th>
                            <th class="headlbl staff-th">CATEGORY</th>
                            <th class="headlbl last-th">PRICE</th>
                            <th class="headlbl"></th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stock of edited; let i = index; let odd = odd;" style="border-bottom:2px solid white;" [class.even]=odd class="ro staff-row">
                          <td style="padding-left:4px;" class="data prod-data">
                              {{stock.stockItem.name}}<span class="predata"></span></td>
                          <td class="data prod-data">{{stock.stockInfo.category}}</td>
                          <td class="data close-td">{{stock.stockInfo.price}}
                            <span>
                              <div (click)=removeStock(i) class="close-comment remove-item">
                                <i title="close" class="icon ion-ios-close-empty"></i>
                            </div>
                            </span>
                          </td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="edited.length" class="btn-group disposition btn-wraper">
              <button  id=add-stock-btn (click)="updateStocks()"
              class="btn btn-sm btn-outline-primary  mainbtn ">
                <div *ngIf="processing" class='spinner small'></div>
                  <span *ngIf="!processing" >UPDATE SERVICES</span>
              </button>
            </div>
          </div>
        </div>
          <h6 *ngIf="feedback" [class.error] = err class="feedbackMsg">{{feedback}}</h6>
      </div>
    </div>
  </div>
</div>
















<header class="header-main">
  <nav>
    <div class="logo-box">
      <a href="/"><h1 class="logo">{{appName}}</h1></a>
    </div>
    <div class="search-box">
      <form class='search__form'>
        <svg viewBox="0 0 24 24" class="search__icon">
          <g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g>
        </svg>
        <input  [(ngModel)]=searchTerm
        #search
        (keyup)=searchInventory(searchTerm)
        type="search" name="search"
        autocomplete="off"
        laceholder='Search'
        class='form-control input search'>
      </form>
    </div>
    <div class="view-box">
      <div *ngIf=menuView  class="sort__options">
        <ul class='list__options' (mouseleave)='toggleMenu()'>
           <li (click)='toggleView("Products", 0)' class="action">Products</li>
           <li (click)='toggleView("Services", 1)' class="action">Services</li>
           <li (click)='toggleView("Transactions", 3)' class="action">Transactions</li>
        </ul>
      </div>
      <h6>View:
        <span style='cursor:pointer' (click) ='toggleMenu()'>{{tableView}}</span>
      </h6>
      <div class="add__patient__box">
        <form *ngIf="tableView ==='Transactions'" class="dateSelector">
          <div class="form-group">
              <input (change)= getTransactions() class="date-picker" placeholder="curDate" [(ngModel)]="curDate" type="date" name="date-picker" id="">
          </div>
        </form>
        <i *ngIf="tableView != 'Transactions'" (click) = "setActionMode('add')" style="left:75%;" class="icon ion-ios-plus-empty" title="Add Products" data-target="#productModal" data-toggle="modal"></i>

      </div>
    </div>
  </nav>
  <div (mouseleave) = hideLogOut() class="log__box">
    <div (click) ='showLogOut()' [ngStyle] = getBackgrounds() class="dp__box"></div>
    <div *ngIf="logout" class="log__out">
      <ul class='list__options'>
        <li (click)=logOut()>
            Log out
        </li>
    </ul>
    </div>
    <i (click) ='showLogOut()' class="icon ion-ios-arrow-down"></i>
  </div>
</header>



<div style="padding-top:43px;height:100%" class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <table class="main-table" *ngIf="tableView ==='Products'" cellspacing="0" class="data-table" summary="List of all items in store. ">
        <thead >
            <tr>
                <th class="checkhead"></th>
                <th  title="Sort by name"  title="Sort by name">PRODUCT NAME
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">CATEGORY
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">PRICE
                    <span class="sorter">
                        <i *ngIf="sortBy ==='price'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">QUANTITY
                    <span class="sorter">
                        <i *ngIf="sortBy ==='quantity'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">SOLD
                    <span class="sorter">
                        <i *ngIf="sortBy ==='sold'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">DATE ADDED
                    <span class="sorter">
                        <i *ngIf="sortBy ==='date'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">EXPIRY
                    <span class="sorter">
                        <i *ngIf="sortBy ==='date'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
            </tr>
        </thead>
        <tbody >
          <div *ngIf='!stocksInView.length' class='issue'>
            <div *ngIf = loading  class="spinner main"></div>
            <div style="left: 48%;" *ngIf=message title='Refresh' class='refresh'>
              <i class="icon ion-ios-reload "></i>
          </div>
            <h6 *ngIf = message class="fbMsg" >NO PRODUCTS SO FAR</h6>
          </div>
            <tr [class.selected] = stock.stamp.selected (click)=selectStock(i) *ngFor="let stock of stocksInView; let i = index" class="odd">
                <td class="check-box"></td>
                <td>{{stock.stockItem.name +' '+stock.stockItem.size + stock.stockItem.unit}}&nbsp;<span class="predata"></span></td>
                <td>
                    <p [title]='stock.stockInfo.category' class="description">{{stock.stockInfo.category||'---' }}</p>
                </td>
                <td>{{stock.stockInfo.price||'---'}}</td>
                <td>{{stock.stockInfo.quantity||0}}</td>
                <td>{{stock.stockInfo.sold||0}}</td>
                <td>{{stock.stamp.dateAdded|date:'dd-MM-y'||'---'}}</td>
                <td style='text-decoration:none' [class.expired]=expired(stock.stockInfo.expiry)>
                    {{stock.stockInfo.expiry|date:'dd-MM-y'||'---'}}
                </td>
            </tr>
        </tbody>
    </table>

    <!-- SERVICE TABLE -->
    <table  class="main-table" *ngIf="tableView ==='Services'" cellspacing="0" class="data-table" summary="List of all items in store. ">
        <thead>
            <tr>
                <th class="checkhead"></th>
                <th  title="Sort by name"  title="Sort by name">SERVICE NAME
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">CATEGORY
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">PRICE
                    <span class="sorter">
                        <i *ngIf="sortBy ==='price'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name"  title="Sort by name">REQUEST
                    <span class="sorter">
                        <i *ngIf="sortBy ==='quantity'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th style= 'text-align:center' title="Sort by name"  title="Sort by name">DATE ADDED
                    <span class="sorter">
                        <i *ngIf="sortBy ==='date'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
            </tr>
        </thead>
        <tbody >
          <div *ngIf='!stocksInView.length' class='issue'>
            <div *ngIf = loading  class="spinner main"></div>
            <div style="left: 48%;" *ngIf=message title='Refresh' class='refresh'>
              <i class="icon ion-ios-reload "></i>
          </div>
            <h6 *ngIf = message class="fbMsg" >NO SERVICES SO FAR</h6>
          </div>
            <tr [class.selected] = service.stamp.selected (click)=selectStock(i) *ngFor="let service of stocksInView; let i = index" class="odd" >
                <td class="check-box"> </td>
                <td>{{service.stockItem.name}}&nbsp;<span class="predata"></span></td>
                <td>{{service.stockInfo.category}}</td>
                <td>{{service.stockInfo.price}}</td>
                <td>{{service.stockInfo.sold||0}}</td>
                <td style='text-align:center'>{{stock.stamp.dateAdded|date:'dd-MM-y'}}</td>
            </tr>
        </tbody>
    </table>
    <table  *ngIf="tableView === 'Transactions'" cellspacing="0" class="data-table" summary="List of all items in store. ">
        <thead>
            <tr>
                <th class="checkhead"></th>
                <th  title="Sort by name" title="Sort by name">PATIENT
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name" title="Sort by name">MEDICATIONS
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name" title="Sort by name">LAB
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th  title="Sort by name" title="Sort by name">OTHERS
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
                <th style = 'text-align: right; padding-right:35px'  title="Sort by name" title="Sort by name">TOTAL EXPENSES
                    <span class="sorter">
                        <i *ngIf="sortBy ==='name'" style="color:lightgreen" class="icon ion-android-arrow-dropdown"></i>
                     </span>
                </th>
            </tr>
        </thead>
        <tbody >
          <div *ngIf='!patients.length' class='issue'>
            <div *ngIf = loading  class="spinner main"></div>
            <div style="left: 48%;" *ngIf=message title='Refresh' class='refresh'>
              <i class="icon ion-ios-reload "></i>
          </div>
            <h6 *ngIf = message class="fbMsg" >{{message}}</h6>
          </div>
              <tr  *ngFor="let patient of patients; let i = index" class="odd" >
                <td class="check-box"></td>
                <td>{{patient.info.personal.firstName+' '+ patient.info.personal.lastName}}&nbsp;<span class="predata"></span></td>
                <td>{{patient.record.invoices[0]}}</td>
                <td>{{patient.record.invoices[1]}}</td>
                <td >{{patient.record.invoices[2]}}</td>
                <td style = 'text-align: right; padding-right:35px' >{{getTotalExpenses(patient.record.invoices)}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="stockSelcted()" class="options" style="height:40px; bottom: 0%; background-color:#f8f8f8;border: none; ">
        <i (click) = "setActionMode('delete')" data-target="#deleteModal" data-toggle="modal" title="Delete" class="optionIcon icon ion-ios-trash-outline"></i>
        <i (click)='pickSelection()' title="Edit" class="optionIcon editIcon icon ion-edit" data-target="#productModal" data-toggle="modal"></i>
        <i title="Select all" class="material-icons optionIcon cancelIcon">select_all</i>
    </div>
    <div *ngIf="tableView === 'Transactions'" class="options trans-summary" >
        <p>MEDICATIONS: <span>{{getSubTotals()[0]}}</span></p>
        <p>LAB: <span>{{getSubTotals()[1]}}</span></p>
        <p>OTHERS: <span>{{getSubTotals()[2]}}</span></p>
        <p style=margin-left:50px>TOTAL: <span>{{getOveralTotal()}}</span></p>
    </div>
</div>
